article p{
    background: blue;
    color: white;
    padding: 25px;
}

article > p{
    background-color: red;
}

article ~ p{
    background-color: purple;
    color: white;
    padding: 23px;
}

article + p{
    background-color: yellow;
    color: white;
    
}

span:first-of-type{
    background-color: black;
    color: white;
}

form{
    margin-top: 20px;
}

input:invalid{
    border: 2px solid red;
}

input:valid{
    border: 3px solid green
}

.secondone{
    opacity: 53%;
}